/* Fonts Imported from GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
/* Main */
*{
   margin: 0;
   padding: 0;
   font-family: 'Nunito', sans-serif;
}
body{
   background-image: url(MainBG.png);
   background-position: cover;
   background-repeat: no-repeat;
}







/* Start of CSS of Navigation Bar */
header{
   width: 100%;
   height: 100vh;
   background: #ffffff;
   color: rgb(145, 108, 248);
   padding: 0 8.5%;
   position: relative;
   text-decoration: none;
} 
.nav-1{
   margin-left: 40px;
   margin-bottom: 10px;
   margin-top: 5px;
   color: rgb(255, 255, 255);
   text-decoration: none;
   width: 120px;
   cursor: pointer; 
}
a{
  text-decoration: none;
  color: rgb(205, 192, 247);
}
nav{
   display: flex;
   width: 100%;
   align-items: center;
   flex-wrap: wrap;
   padding: 30px 0 10px;
   font-family: 'Quicksand';
   text-decoration: none;
}
.logo{
   margin-left: 40px;
   margin-bottom: 10px;
   margin-top: 5px;
   color: rgb(208, 194, 247);
   text-decoration: none;
   width: 120px;
   cursor: pointer; 
}
.logo:hover{
   text-decoration: none;
   color: rgb(215, 205, 245);
}
nav ul{
   flex: 1;
   text-align: right;
   padding-right: 40px;
   text-decoration: none;
}
nav ul li{
   display: inline-block;
   list-style: none;
   margin: 10px 30px;
   text-decoration: none;
}
nav ul li a{
   color: rgb(188, 138, 245);
   text-decoration: none;
   letter-spacing: 1px;
   font-size: 17px;
   text-decoration: none;
}
nav ul li a:hover{
   color: #8a8a87;
}
/* End of CSS of Navigation Bar */
/* Main Body */
h1.team{
   mask-image: url(download.png);
   mask-size: 100%;
   mask-repeat: no-repeat;
   margin-top: 100px;
   text-align: center;
   font-size: 80px;
   color: rgb(134, 208, 243);
   font-weight: bold;
}
p.ask-1{
   margin: 40px 40px 40px 40px;  
   font-size: 40px;
   color: rgb(134, 134, 134);
   font-weight: bolder;
}
p{
   margin: 40px 40px 40px 40px;  
   font-size: 20px;
   color: rgb(241, 227, 163);
}